body{
  padding-top: 150px;
  padding-left: 50px;
}

html body {
  font-family: 'Indie Flower', cursive;
  color: #515151;
}

#slime-name {
  color:#00bfff;
  font-weight: bold;
  font-family: 'Indie Flower', cursive;;
}

#title {
  font-family: 'Indie Flower', cursive;
  font-weight: 700;
}

.btn{
  font-family: 'Indie Flower', cursive;
}
